body {
  font-family: 'Roboto', sans-serif;
  background: rgb(206, 238, 174);
  background: radial-gradient(circle, rgba(206, 238, 174, 1) 13%, rgba(148, 187, 233, 1) 93%);
  margin: 0;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 100%;
  height: 100vh;
  
}
.header-container {
  grid-column: 1;
  grid-row: 1/2;
}
.who-are-we-container {
  display: grid;
  grid-column: 1;
  grid-row: 2/3;
  grid-template-columns: 40% 10% 30% 20%;
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-cat-butterfly-container {
  grid-column: 1/3;
  grid-row: 1/3;
  width: 100%;
  height: 100%;
}
.img-kitten-container {
  grid-column: 2/4;
  grid-row: 2/4;
  width: 100%;
  height: 100%;
}
.who-are-we {
  grid-column: 3/6;
  grid-row: 1;
  text-align: center;
  font-size: 300%;
}
.who-are-p {
  grid-column: 1;
  grid-row: 3/4;
  text-align: center;
  font-size: 140%;
}

.header-container {
  display: grid;
  grid-template-columns: 40% auto 40%;
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  justify-items: center;
  align-items: center;
}
.img-header-container {
  grid-column: 1/4;
  grid-row: 1/4;
}

.save-cat {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 300%;
}
.save-life {
  grid-column: 3/4;
  grid-row: 3/4;
  font-size: 300%;
}
