body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: fantasy;
}

h1 {
  margin: 5rem;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));

  .card{
      img{
          width: 100%;
      }
  }
}
